@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
  --font_1: #111111;
  --font_2: #666666;
  --font_3: #F2F2F2;
  --pink:#EB5757;
  --graybox:#C4C4C4;
  --bg_1: #F5F5F5;
  --bg_2: #222222;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--font_1);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
 
  margin: 0 auto;
}


/* header */
.header {
  height: 80px;
  display: flex;
  align-items: center; 
  justify-content: center;
  box-sizing: border-box;
}

.header ul {
  font-size: 14px;
  margin-left: 300px;
}

.header ul li {
  display: inline-block;
  margin-right: 60px;
  height: 80px;
  line-height: 80px;
  position: relative;
}

.header ul li a:hover {
  color: var(--pink);
  transition: color 0.3s;
}

.header ul li:last-child {
  margin-right: 0;
}

.header ul li i {
  font-size: 24px;
  line-height: 80px;
}

.header ul li .round {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  background: #FF0000;
  position: absolute;
  top: 23px;
  left: 14px;
}


/* slide */
.slide_01 {
  height: 600px;
  background: var(--bg_1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide_01 .txt1 {
  display: block;
}

.slide_01 .txt1 p{
  margin-right: 43px;
  line-height: 46px;
  border-bottom: 1px solid var(--font_1);
}

.slide_01 .txt1 h2{
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 68px;
}

.slide_01 .txt1 .box {
  display: flex; 
  align-items: center;
  justify-content: center;
}

.slide_01 .txt1 .box p {
  margin-right: 43px;
}

.slide_01 .txt1 .btn1 {
  width: 168px;
  height: 46px;
  background: var(--font_1);
  border-radius: 40px;
  color: #fff;
  line-height: 46px;
  text-align: center;
}

.section {
  display: flex;
  align-items: center; 
  justify-content: center;
}

/* section_01  */
.section_01 {
  padding-top: 140px;
  padding-bottom: 140px;
}

.section_01 .left { 
  margin-right: 40px;
}

.section_01 .left, 
.section_01 .right  {
  width: 560px;
  height: 320px;
  background: var(--bg_1);
  display: flex;
  align-items: center;  
}

.section_01 .photo {
  margin-left: 40px;
  margin-right: 40px;
}

.section_01 .photo img {
  width: 150px;
  height: 160px;
}

.section_01 .left .text h3, 
.section_01 .right .text h3 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 16px;
}

.section_01 .left .text p,
.section_01 .right .text p  {
  color: var(--font_2);
  margin-bottom: 35px;
}

.section_01 .left .text .btn2,
.section_01 .right .text .btn2 {
  width: 120px;
  height: 36px;
  border: 1px solid var(--font_1);
  border-radius: 40px;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
}


/* section_02 */
.section_02 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_02 h3 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 27px;

}

.section_02 p {
  color: var(--font_2);
  margin-bottom: 64px;
}

.section_02 ul {
  display: flex;
  align-items: center;
  margin-bottom: 160px;
}

.section_02 li {
  width: 260px;
  height: 260px;
  background: var(--bg_1);
  margin-right: 40px;
}

.section_02 li:last-child {
  margin-right: 0;
}

.section_02 li img {
  padding: 50px;
}


/* slide_02 */
.slide_02 {
  height: 600px;
  background: url(./image/image\ 5.jpg) no-repeat #000;
  background-position: center;
  color: #fff;
  /* padding-left: 420px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide_02 .box {
  margin-right: 540px;
}


.slide_02 h2{
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 31px;
}

.slide_02 p {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 56px;
}

.slide_02 .btn3 {
  width: 168px;
  height: 46px;
  background: var(--font_3);
  border-radius: 40px;
  color: var(--font_1);
  line-height: 46px;
  text-align: center;
}


/* section_03 */
.section_03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 100px;
}

.section_03 h3 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 27px;
}

.section_03 p {
  color: var(--font_2);
  margin-bottom: 64px;
}

.section_03 ul {
  display: flex;
}

.section_03 li {
  width: 260px;
  height: 260px;
  background: var(--bg_1);
  margin-right: 40px;
  margin-bottom: 40px;
}

.section_03 li img {
  padding: 50px;
}


/* section_04 */
.section_04 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 140px;
}

.section_04 h3 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 27px;
}

.section_04 p {
  color: var(--font_2);
  margin-bottom: 64px;
}

.section_04 ul {
  display: flex;
}

.section_04 li {
  margin-right: 42px;
}

.section_04 li:last-child {
  margin-right: 0;
}

.section_04 li img {
  width: 360px;
  height: 360px;
  border-radius: 30px;
}


/* footer */
.footer {
  height: 600px;
  background: var(--bg_2);
  letter-spacing: 0.2px;
  color: #fff;
  display: flex;
  justify-content: center;
}

.footer .left {
  margin-top: 120px;
  margin-right: 140px;
}

.footer .left h3 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 35px;
}

.footer .left p{
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 14px;
}

.footer .left .box {
  display: flex;
  margin-bottom: 20px;
}

.footer .left .box input {
  width: 358px;
  height: 50px;
  border: none;
  padding: 17px 20px;
  box-sizing: border-box;
}

.footer .left .box input:focus {
  outline: none;
}

.footer .left .box input::placeholder {
  color: var(--font_2);
  font-size: 14px; 
}

.footer .left .box button {
  width: 100px;
  height: 50px;
  background: var(--pink);
  color: #fff;
  border: none;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.footer .left .box button:focus {
  outline: none;
}

.footer .left .store {
  display: flex;
  margin-bottom: 20px;
}

.footer .left .store a {
  margin-right: 20px;
}

.footer .left .store .apple {
  width: 128px;
  height: 38px;
  border: 1px solid var(--font_2);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .left .store .apple i {
  font-size: 21px;
  margin-left: 16px;
}

.footer .left .store .apple p {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-right: 20px;
}

.footer .left .store .google {
  width: 128px;
  height: 38px;
  border: 1px solid var(--font_2);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.footer .left .store .google img {
  width: 21px;
  height: 21px;
  margin-left: 16px;
}

.footer .left .store .google p{
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-right: 18px;
}

.footer .left .social {
  display: flex;
  margin-bottom: 65px;
}

.footer .left .social a {
  font-size: 40px;
  margin-right: 16px;
}

.footer p_2{
font-size: 12px;
color: var(--font_3);
}

.footer .right {
  margin-top: 140px;
}

.footer .right .bottom_menu {
  display: flex;
}

.footer .right .bottom_menu > li {
  margin-right: 100px;
}

.footer .right .bottom_menu > li:last-child {
  margin-right: 85px;
}

.footer .right .bottom_menu > li > a{
  font-size: 20px;
  font-weight: 700;
} 

.footer .right .bottom_menu ul {
  margin-top: 52px;
}

.footer .right .bottom_menu ul li {
  color: var(--font_3);
  margin-bottom: 30px;
}

.footer .right .bottom_menu ul li:last-child {
  margin-bottom: 0;
}
